
nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #CBE4DE;
  background-color: #2E4F4F ;
}
.nav-dark{
  background-color: #070F2B;
  border-bottom: 1.5px solid beige ;
  padding: 12px;
}
.navbar-label-dark{
  font-size: 24px;
  font-weight: bold;
  color: #87e1ccc8;
}
.navbar-links-dark{
  display: flex;
  justify-content: flex-end;
  color: #87e1ccc8;
  font-size: 18px;
  margin-left: 20px;
  text-decoration: none;
  margin: 7px;
}
.navbar-links-dark a{
  display: flex;
  justify-content: flex-end;
  color: #87e1ccc8;
  margin: 10px;
}
.navbar-links-dark a:hover {
  color: #54ddbdc8;
  text-shadow: 5px 5px  #035642c8;
}
.navBtn-dark{
  background-color:#2E4F4F ;
  border: none;
  font-size: 17px;
  margin-left: 5px;
  color: #87e1ccc8;
  cursor: pointer;
}
.navbar-label {
  font-size: 24px;
  font-weight: bold;
}
.navbar-links {
  display: flex;
  justify-content: flex-end;
}
.navbar-links a {
  margin-left: 20px;
  color: #CBE4DE;
  text-decoration: none;
  font-size: 18px;
}
.navbar-links a:hover {
  color: #FFF4E0;
}
.navBtn{
  background-color:#2E4F4F ;
  border: none;
  font-size: 17px;
  margin-left: 5px;
  color: #CBE4DE;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .navbar-label {
    font-size: 20px;
    margin: 10px 20px;
    text-align: center;
    font-weight: 600;
  }
  .navbar-links {
    justify-content: flex-start;
    font-size: 22px;
    /* margin-top: 10px; */
  }
  .navbar-links :hover{
    text-decoration: underline;
  }
  .navbar-links a {
    margin-left: 0;
    margin-right: 20px;
  }
  .navBtn {
    margin-left: 0;
    margin-top: 10px;
  }
}
