@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
#img{
    height: 490px;
    width:  550px;
}
.rec-line{
  text-align: center;
  font-weight: bold;
  margin: 25px 0px;
}
.tooltipBoxNotDisabled{
  display: none;
}

.tooltipBox{
  background-color: #549090;
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 2px 2px 45px black;
  color: white ;
  display: block;
  font-family: 'Montserrat', sans-serif;

}
.icons{
  cursor: pointer;
  font-size: 26px;
  /* margin-left: 15px; */
}
#updateBTN {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  position: relative;
  left: 13%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -9px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
#updateBTN:hover{
  background-color: #3e8e41; 
}
.gt {
  z-index: 2;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 180%;
  left: 98%;
  border-radius: -37%;
  cursor: pointer;
  height: 20px;
}
#h{
  text-align: center;
}
body{
  overflow-x: hidden;
}
.head{
    color: #549090;
}
.paraa{
  color: #549090;
  text-shadow: 4px 4px 130px #549090;
  font-size: 17px;
  padding: 0px 15px;
}
.containerr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  img {
    width: 50%;
    margin-right: 20px;
  }
  
  .descriptionn {
    width: 50%;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .headd {
    font-size: 34px;
    margin-bottom: 10px;
    color: #549090;
    text-align: center;
  }
  .cards{
    padding: 35px;
    margin: 0px 30px;
  }
  .card {
    height: 550px;
    width: 50%;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 55px;
  }
  
  .card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #E8E8E8;
    text-shadow: 2px 7px 20px black ;
  }
  
  .card-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 20px 15px;
    background-color: #549090;
    color: #E8E8E8;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
  }
  
  .button:hover {
    background-color: #E8E8E8;
    color: #549090;
  }
  
  .button:disabled,
  .button.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
  }
  
#card1{
    background-image: url('../public/Images/cardd.jpg');
}
#card2{
    background-image: url('../public/Images/card.jpg');
}
footer {
  background-color: #f7f7f7;
  color: #549090;
  padding: 30px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #549090;
  align-items: center;
}

.about-us {
  flex-basis: 45%;
  margin-bottom: 30px;
}

.about-us h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-us p {
  font-size: 14px;
  line-height: 1.5;
}

.social-icons {
  color: #549090;
  flex-basis: 45%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
  margin: 20px;
}
.iconn{
  margin: 7px;
  font-size: 19px;
}
.b{
    display: inline-block;
    border: none;
    padding: 15px 20px;
    background-color: #549090;
    color: #E8E8E8;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}
.social-icons a:hover i {
  color: #66dfc3;
}
.specific-recipes {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    gap: 20px; 
    border-radius: 40px;
    padding: 30px 20px;
    margin: 0px 120px;
    /* justify-content: center; */
}

input{
  color: #76bebe;
}
input::placeholder,
textarea::placeholder {
  color: #76bebe;
  font-family: 'Montserrat', sans-serif;
}
  .child {
      border: 2.75px solid #76bebe;
      border-radius: 10px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
      padding: 15px;
  }
  .imgg {
    height: 250px;
    width: 250px;
    margin-top: 18px;
    border-radius: 100%;
    /* align-items: start; */
    z-index: 1;
    left: 0px;
}
.flex-child {
  padding: 12px;
  border: 2px #76bebe solid;
  border-radius: 55px;
  margin-left: 9px;
  text-align: center;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type="file"] {
  margin-top: 5px;
  margin-bottom: 15px;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}
.updateForm {
  padding: 20px 50px;
  z-index: 2;
  display: none;
  position: absolute;
  top: 3px;
  background-color: #AEC2B6;
  width: 70vw;
  height: auto;
  box-shadow: 15px 15px 25px #76bebe;
  display: none;
}
.form-container {
  position: fixed;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  padding: 20px;
  background-color: inherit;
  box-shadow: 5px 5px 25px #76bebe;

}

.form-container h3 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #006F8C;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-icon:hover {
  color: red;
}
.delIcon{
  display: flex;
  position: relative;

}
.imggg{
  border-radius: 20px;
  position: relative;
  height: 230px;
  max-width: 10px 0px;
}
.btn{
  position: relative;
  /* left: 20px; */
}
.iconUPD{
  position: relative;
  left: 270px;
  margin: 10px 10px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #img{
    display: none;
  }
  .descriptionn{
    padding: 10px 20px;
    text-align: center;
    width: auto;
  }
  .headd{
    text-align: center;
    font-size: 24px;
  }
  .paraa{
    text-align: center;
  }
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card{
    height: 400px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    border : none;
  }
  .card h2{
    font-size: 25px;
    text-shadow: 2px 2px 15px black;
  }
  .button{
    padding: 14px 14px;
    font-size: 0.85rem;
  }
  .card-content{
    text-align: center;
    width: full;
  }
  .about-us{
    width: full;
    text-align: center;
  }
  /* .specific-recipes {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    gap: 20px; 
    border-radius: 40px;
    padding: 30px 20px;
    justify-content: center;
  } */
  .flex-child {
    padding: 7px 10px;
    border: 2px #76bebe solid;
    margin-left: 5px;
    width: 310px;
    text-align: center;
  }
   .specific-recipes{
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
   }
   .icons{

    font-size: 16px;
    }

    .delIcon{
      display: flex;
      flex-direction: column;
      position: relative;
      right: 350px;
    }
    .imggg{

      height: 170px;

      position: relative;

      left: 0px;

    }
    
    .form-container{
      width: 100vw;
    }
    .update{
      width: 100%;
    }
    .iconUPD{
     margin:5px 10px; 
     position: relative;
     left: 185px;
    }
}
