.myrec{
  padding: 25px;
  display: flex;
}

.imgg {
    height:450px;
    width: 450px;
    margin-top: 18px;
    border-radius: 100%;
}

.body-dark{
  color: #87e1ccc8;
  background-color: #070F2B;
  height: 100vh;
}
.childd{
  padding: 25px;
}
.myrec-dark{
  padding: 25px;
  display: flex;
  color: #87e1ccc8;
  background-color: #070F2B;
}

.imgg-dark{
    height:450px;
    width: 450px;
    margin-top: 18px;
    border-radius: 100%;
}
.childd-dark{
  padding: 25px;
  color: #87e1ccc8;
  background-color: #070F2B;
}

@media only screen and (max-width: 768px) {
  .imgg{
    height: 250px;
    width: 250px;
  }
  .myrec{
    flex-direction: column;
    align-items: center;
  }
}