.myrec{
  padding: 25px;
  display: flex;
}

.imgg {
    height:450px;
    width: 450px;
    margin-top: 18px;
    border-radius: 100%;
}

.body-dark{
  color: #87e1ccc8;
  background-color: #070F2B;
  height: 100vh;
}
.childd{
  padding: 25px;
}
.myrec-dark{
  padding: 25px;
  display: flex;
  color: #87e1ccc8;
  background-color: #070F2B;
}

.imgg-dark{
    height:450px;
    width: 450px;
    margin-top: 18px;
    border-radius: 100%;
}
.childd-dark{
  padding: 25px;
  color: #87e1ccc8;
  background-color: #070F2B;
}

.darkBTN{
  padding: 20px 15px;
  color: #54ddbdc8;
  background-color: #021526;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: 1px solid #549090;
}
.darkBTN:hover{
  background-color: #072844;
  color: #54ddbdc8;
}
.BTN{
  display: inline-block;
  padding: 20px 15px;
  background-color: #549090;
  color: #E8E8E8;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: none;
}

@media only screen and (max-width: 768px) {
  .imgg{
    height: 250px;
    width: 250px;
  }
  .myrec{
    flex-direction: column;
    align-items: center;
  }
}