h1{
  text-align: center;
}
body{
  color: #549090;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type="file"] {
  margin-top: 5px;
  margin-bottom: 15px;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.sumbitButton{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.b{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.b:hover{
  background-color: #3e8e41;
}
.b:disabled{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
}
button[type="submit"]:hover {
  background-color: #3e8e41;
}
input:focus {
  outline: none;
  border-color: #3e8e41; 
  box-shadow: 0 0 5px  #a8d7d7; 
}
textarea:focus {
  outline: none;
  border-color: #3e8e41; 
  box-shadow: 0 0 5px  #a8d7d7; 
}
.aa{
  margin-top: 48px;
  position: absolute;
  left: 30%;
  text-decoration: none;
  color: #549090;
}
.aa:hover{
  text-decoration: underline;
}

/* Media queries for responsive design */
@media only screen and (max-width: 767px) {
  form {
    padding:0px 50px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    font-size: 14px;
  }
  button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
  .aa {
    position: static;
    margin-top: 24px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  form {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    max-width: 50%;
  }
}
