.myrec{
  padding: 25px;
  display: flex;
}

.imgg {
    height:450px;
    width: 450px;
    margin-top: 18px;
    border-radius: 100%;
}
.childd{
  padding: 25px
}

@media only screen and (max-width: 768px) {
  .imgg{
    height: 250px;
    width: 250px;
  }
  .myrec{
    flex-direction: column;
    align-items: center;
  }
}